################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EcoFarm.Api/appsettings.json
/EcoFarm.Api/appsettings.Development.json
# Ignore any files in /bin and /obj Folders
**/bin/*
**/obj/*
/.vs
/.idea/.idea.EcoFarm_GraduationThesis/.idea
/EcoFarm.Web_Prev
